@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, ALKFET!</h1>

<h2>Üdvözlöm tanárúr!</h2>

<div>
<p>Ez a MyDictionaryApp egy egyszerű szótár, amely lehetővé teszi a felhasználók számára, hogy szavakat adjanak hozzá, szerkesszenek és töröljenek. 
A megvalósításhoz Blazor Server-t használtam, a backend pedi ASP.NET 10 Core. Az adatok tárolását PostgreSQL oldottam meg. 
Az alkalmazásban bennehagytam a fejlesztés során a tesz lapokat is amik segítettek a fejlesztésben. A fejlesztéshez azért választottam a .net keretrendszert, mert
van némi tapasztalatom vele és szerettem volna egy kicsit jobban elmélyülni benne. A Blazor Server-t azért választottam, mert lehetővé teszi a C# használatát a frontend fejlesztéshez 
amit a jövőben mélyebben is szeretnék elsajátítani.</p>
</div>